/* Reset básico para todos os elementos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

/* Estilos para o corpo da página */
body {
    background: linear-gradient(#1354A5 0%, #041832 33.33%, #041832 66.67%, #01080E 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Pseudo-elemento antes do corpo para adicionar uma imagem de fundo */
body::before {
    background-image: url("img/code.png");
    background-repeat: no-repeat;
    background-position: right;
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

/* Estilos para o container principal */
.container {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    border: 1px solid #1875E8;
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: url("img/Ruido.png");
    background-size: 100% 100%;
    position: relative;
}

/* Estilos para o conteúdo dentro do container */
.container__conteudo {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}

/* Estilos para a seção de informações dentro do container */
.container__informacoes {
    flex: 1;
    padding: 3rem;
}

/* Estilos para botões dentro do container */
.container__botao {
    border-radius: 16px;
    background: #1875E8;
    padding: 16px 24px;
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    border: none;
    margin-top: 2rem;
}

/* Estilos para o texto dentro do container */
.container__texto {
    margin: 16px 0 16px 0;
}

/* Estilo específico para o texto azul dentro do container */
.container__texto-azul {
    color: #1875E8;
}

.container__input {
    width: 100%;
    height: 72px;
    border-radius: 16px;
    background-color: #FFF;
    border: none;
    color: #1875E8;
    padding: 2rem;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
}

.container__botoes {
    display: flex;
    gap: 2em;
}

/* Estilos para o cabeçalho principal (h1) */
h1 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 72px;
    padding-bottom: 3rem;
}

/* Estilos para parágrafos e botões */
p,
button {
    font-family: 'Inter', sans-serif;
}

/* Estilo para o parágrafo de texto */
.texto__paragrafo {
    font-size: 32px;
    /* Tamanho da fonte */
    font-weight: 400;
    /* Peso da fonte */
}

/* Estilo para botões desabilitados */
button:disabled {
    background-color: gray;
    /* Cor de fundo para botões desabilitados */
}

/* Estilos aplicados quando a largura da tela é de no máximo 1250px */
@media screen and (max-width: 1250px) {

    /* Estilo para o título principal (h1) */
    h1 {
        font-size: 50px;
        /* Tamanho da fonte */
    }

    /* Estilo para os botões no container */
    .container__botao {
        font-size: 16px;
        /* Tamanho da fonte */
    }

    /* Estilo para o parágrafo de texto */
    .texto__paragrafo {
        font-size: 24px;
        /* Tamanho da fonte */
    }

    /* Estilo para a imagem da pessoa */
    .container__imagem-pessoa {
        display: none;
        /* Esconde a imagem */
    }

    /* Estilo para o container de conteúdo */
    .container__conteudo {
        display: block;
        /* Exibe como bloco */
        position: inherit;
        /* Posição herdada */
    }

    /* Estilo para o container de informações */
    .container__informacoes {
        padding: 1rem;
        /* Preenchimento de 1rem */
    }
}